<section class="text-gray-400 body-font bg-gray-800">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-blue-400 tracking-widest font-medium title-font mb-1">MERCADO LA VIGA</h2>
      <h1 class="sm:text-4xl text-2xl font-medium title-font mb-4 text-white">Aquality</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">En nuestro mundo aproximadamente el 33.1% de las poblaciones de peces evaluadas en 2018 estaban sobreexplotadas, teniendo un ritmo insostenible de pesca es por ello que Aquality surge como la solución definitiva. No somos solo una aplicación web, somos un compromiso con la conservación.</p>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Explora</h2>
        <p class="leading-relaxed text-base mb-4">Mientras otras plataformas se centran en vender, nosotros nos enfocamos en la información crucial que otros pasan por alto. Restringimos productos que podrían amenazar la vida marina y proporcionamos datos detallados para la concientización.</p>

      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Misión</h2>
        <p class="leading-relaxed text-base mb-4">Empoderar a los consumidores y a las empresas comprometidos con la sostenibilidad con conocimientos para un consumo responsable y fomentamos la conciencia sobre la vida submarina.</p>
        
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Únete a Nosotros</h2>
        <p class="leading-relaxed text-base mb-4">No solo compras, contribuyes al bienestar del planeta. Protege especies en peligro de extinción, ayudando a reducir la contaminación y haz del consumo responsable una realidad.</p>
        
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Actividades Ambientales</h2>
        <p class="leading-relaxed text-base mb-4">Descubre eventos, webinars y actividades relacionadas con la conservación marina. Participa en iniciativas locales e internacionales que promueven la sostenibilidad y el cuidado de nuestros océanos.</p>
        
      </div>
    </div>
  </div>
</section>